.products-page {
  text-align: center;
  padding: 20px;
}

.resin-title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 per row */
  gap: 25px;
  justify-items: center;
  padding: 20px;
}


.product-card {
  background: #ffffff;
  padding: 15px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

button {
  background: #1b1b32;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background: #343467;
}
