.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
  text-align: center;
  color: white;
}

.product-card {
  background: #1b1b32;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

button {
  background: #ff4ec0;
  border: none;
  padding: 10px 15px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
}
button:hover {
  opacity: 0.8;
}
